* {
  /* box-sizing: border-box; */
  margin: 0;
  padding: 0;
  outline: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  --pad-size: 200px;
  --big-radius: 100%;
  --small-radius: 5%;
  --gap: 5px;
  --board-size: calc((var(--pad-size) * 2) + (var(--gap) * 4));
  --dark: #262626;

  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centralizadora {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#buttons {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  width: var(--board-size);
  height: var(--board-size);
}

#buttons > button {
  border: none;
  cursor: pointer;
  display: block;
  filter: brightness(0.7);
  width: var(--pad-size);
  height: var(--pad-size);
  margin: var(--gap);
}

#buttons > button:disabled {
  cursor: not-allowed;
}

#buttons > button:active,
#buttons > button.active {
  filter: brightness(1.5) !important;
}

#green {
  background-color: green;
  border-radius: var(--big-radius) var(--small-radius) 0 var(--small-radius);
}

#red {
  background-color: red;
  border-radius: var(--small-radius) var(--big-radius) var(--small-radius) 0;
}

#blue {
  background-color: blue;
  border-radius: 0 var(--small-radius) var(--big-radius) var(--small-radius);
}

#yellow {
  background-color: yellow;
  border-radius: var(--small-radius) 0 var(--small-radius) var(--big-radius);
}

#controls {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: var(--pad-size);
  height: var(--pad-size);

  border-radius: 50%;
  border: calc(var(--gap) * 2) solid var(--dark);
  padding: 10px;
  background-color: #444;
}

#controls h1 {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 0.5em;
  font-size: 1.3rem;
}

#controls > button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 1em;
  border: none;
  border-radius: 10px;
  background-color: #f5f5f5;
  cursor: pointer;
}

@media (max-width: 500px) {
  #root {
    --pad-size: 150px;
  }
}

@media (max-width: 350px) {
  #root {
    --pad-size: 125px;
  }

  #controls h1 {
    font-size: 1rem;
  }
}

footer {
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-weight: 400;
  padding-bottom: 1em;
}

footer span {
  color: red;
}

footer a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
